<div id="root" [@initial]="animate">
    <section data-section="solids" data-name="Solids">
        <h3>Solids</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--brand">Brand</button>
                <button type="button" class="lz-btn lz-btn--accent">accent</button>
                <button type="button" class="lz-btn lz-btn--danger">Red</button>
                <button type="button" class="lz-btn lz-btn--success">Green</button>
                <button type="button" class="lz-btn lz-btn--warning">Yellow</button>
                <button type="button" class="lz-btn lz-btn--info">Blue</button>
            </div>
        </div>
        <app-markup [example]="html.solid"></app-markup>
    </section>

    <section data-section="outline">
        <h3>Outline</h3>
        <p>In need of a button, but not the hefty background colors they bring? Replace the default modifier classes
            with the <code>.lz-btn--outline-*</code> ones to remove all background images and colors on any button.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--brand lz-btn--brand--outline">Brand</button>
                <button type="button" class="lz-btn lz-btn--accent lz-btn--accent--outline">accent</button>
                <button type="button" class="lz-btn lz-btn--danger lz-btn--danger--outline">Red</button>
                <button type="button" class="lz-btn lz-btn--success lz-btn--success--outline">Green</button>
                <button type="button" class="lz-btn lz-btn--warning lz-btn--warning--outline">Yellow</button>
                <button type="button" class="lz-btn lz-btn--info lz-btn--info--outline">Blue</button>
            </div>
        </div>
        <app-markup [example]="html.outline"></app-markup>
    </section>

    <section data-section="no-stroke" data-name="No Stroke">
        <h3>No Stroke</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--brand lz-btn--brand--no-stroke">Brand</button>
                <button type="button" class="lz-btn lz-btn--accent lz-btn--accent--no-stroke">accent</button>
                <button type="button" class="lz-btn lz-btn--danger lz-btn--danger--no-stroke">Red</button>
                <button type="button" class="lz-btn lz-btn--success lz-btn--success--no-stroke">Green</button>
                <button type="button" class="lz-btn lz-btn--warning lz-btn--warning--no-stroke">Yellow</button>
                <button type="button" class="lz-btn lz-btn--info lz-btn--info--no-stroke">Blue</button>
            </div>
        </div>
        <app-markup [example]="html.noStroke"></app-markup>
    </section>

    <section data-section="state" data-name="State">
        <h3>State</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--brand" disabled>Disabled</button>
                <button type="button" class="lz-btn lz-btn--brand" disabled>
                    <div class="lz-loading-container">
                        <div class="lz-loading">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </button>
                <button type="button" class="lz-btn lz-btn--brand lz-btn--brand--outline" disabled>Outline</button>
                <button type="button" class="lz-btn lz-btn--brand lz-btn--brand--no-stroke" disabled>No Stroke</button>
                <button type="button" class="lz-btn lz-btn--icon" disabled>
                    <i class="uil uil-heart"></i>
                </button>
            </div>
        </div>
        <app-markup [example]="html.state"></app-markup>
    </section>

    <section data-section="size" data-name="Size">
        <h3>Size</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras
            thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--brand lz-btn--large">Solid</button>
                <button type="button" class="lz-btn lz-btn--accent lz-btn--large">accent</button>
            </div>
        </div>
        <app-markup [example]="html.size.large"></app-markup>

        <div class="lz-card lz-margin-top">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--brand lz-btn--small">Solid</button>
                <button type="button" class="lz-btn lz-btn--accent lz-btn--small">accent</button>
            </div>
        </div>

        <app-markup [example]="html.size.small"></app-markup>
    </section>

    <section data-section="icon" data-name="Icon Button">
        <h3>Icon button</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras
            thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--icon lz-btn--icon--no-shadow">
                    <i class="uil uil-heart"></i>
                </button>
                <button type="button" class="lz-btn lz-btn--accent lz-btn--icon lz-btn--icon--no-shadow">
                    <i class="uil uil-heart"></i>
                </button>
            </div>
        </div>
        <app-markup [example]="html.icon"></app-markup>

        <div class="lz-card lz-margin-top">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--brand">
                    <i class="uil uil-heart"></i>
                    Solid with icon
                </button>
                <button type="button" class="lz-btn lz-btn--brand lz-btn--brand--outline">
                    <i class="uil uil-heart"></i>
                    Outline with icon
                </button>
                <button type="button" class="lz-btn lz-btn--brand lz-btn--brand--no-stroke">
                    <i class="uil uil-heart"></i>
                    No Stroke with icon
                </button>
            </div>
        </div>
        <app-markup [example]="html.icon"></app-markup>
    </section>
</div>