<div class="lz-nav">
    <h6 class="lz-nav-content-left-badge">
        <span class="lz-badge lz-badge--info">v{{ version }}</span>
    </h6>
    <div class="lz-nav-content">
        <div class="lz-nav-content-left">
            <button (click)="toggleMenuMobile()"
                class="lz-nav-content-left-button-menu lz-btn lz-btn--icon lz-btn--icon--no-shadow lz-btn--mr lz-display-small-tablet-show">
                <i class="uil uil-bars"></i>
            </button>
            <div class="lz-nav-content-left-name">
                <button class="lz-btn lz-btn--icon lz-btn--icon--no-shadow lz-display-small-tablet-hide lz-btn--mr">
                    <i class="uil uil-brush-alt"></i>
                </button>
                <h4>Lizard UI</h4>
            </div>
        </div>
        <form class="lz-nav-content-right" [formGroup]="form">
            <div class="lz-container-field lz-container-field--no-margin" style="margin-right: 10px;">
                <div class="lz-field">
                    <select (change)="toggleTheme($event)" formControlName="theme" class="form-select">
                        <ng-container *ngFor="let theme of themes">
                            <option [value]="theme">{{ theme | titlecase }}</option>
                        </ng-container>
                    </select>
                </div>
            </div>
            <button (click)="toggleMode()" class="lz-btn lz-btn--icon lz-btn--icon--no-shadow lz-display-small-tablet-hide lz-btn--mr">
                <i class="uil" [ngClass]="icon"></i>
            </button>
            <button class="lz-btn lz-btn--icon lz-btn--icon--no-shadow lz-btn--mr btn-github">
                <i class="uil uil-github"></i>
            </button>
            <button class="lz-btn lz-btn--icon lz-btn--icon--no-shadow btn-twitter">
                <i class="uil uil-twitter"></i>
            </button>
        </form>
    </div>
</div>

<div (click)="toggleMenuMobile()" class="lz-menu-mobile-overlay" @animation *ngIf="isOpen">
    <div class="lz-menu-mobile-close">
        <app-button (click)="toggleMenuMobile()" icon="times" theme="default" [noStroke]="true"></app-button>
    </div>
    <div class="lz-menu-mobile-card-overlay">
        <ng-container *ngFor="let button of menu">
            <div class="lz-menu-mobile-card-overlay-item" [routerLink]="button.url"
                routerLinkActive="lz-menu-mobile-card-overlay-item--active">
                <i class="uil" [ngClass]="[button.icon]"></i>
                {{ button.label }}
            </div>
        </ng-container>
    </div>
</div>