<div class="lz-nav">
    <div class="lz-content">
        <div class="lz-content-left">
            <!-- <app-svg svg="church" theme="light"></app-svg> -->
            <div class="lz-name">
                <h5>Lizard UI</h5>
            </div>
        </div>
        <div class="lz-content-right">
            <button (click)="toggleTheme()" class="lz-btn lz-btn--icon lz-btn--icon--no-shadow lz-btn--mr btn-style">
                <i class="uil uil-brush-alt"></i>
            </button>
            <button class="lz-btn lz-btn--icon lz-btn--icon--no-shadow lz-btn--mr btn-github">
                <i class="uil uil-github"></i>
            </button>
            <button class="lz-btn lz-btn--icon lz-btn--icon--no-shadow btn-twitter">
                <i class="uil uil-twitter"></i>
            </button>
        </div>
    </div>
</div>