<div id="root" [@initial]="animate">
    <h1>Badges</h1>
    <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few extras
        thrown in for more control.</p>

    <section data-section="sizes" data-name="Tamanhos">
        <h3>Tamanhos</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <h1 class="lz-margin-bottom ">Example heading <span class="lz-badge lz-badge--contrast">Example</span>
                </h1>
                <h2 class="lz-margin-bottom">Example heading <span class="lz-badge lz-badge--contrast">Example</span>
                </h2>
                <h3 class="lz-margin-bottom">Example heading <span class="lz-badge lz-badge--contrast">Example</span>
                </h3>
                <h4 class="lz-margin-bottom">Example heading <span class="lz-badge lz-badge--contrast">Example</span>
                </h4>
                <h5 class="lz-margin-bottom">Example heading <span class="lz-badge lz-badge--contrast">Example</span>
                </h5>
                <h6 class="lz-margin-bottom">Example heading <span class="lz-badge lz-badge--contrast">Example</span>
                </h6>
            </div>
        </div>
        <app-markup [example]="html.sizes"></app-markup>
    </section>

    <section data-section="button" data-name="Botão">
        <h3>Botão</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button class="lz-btn lz-btn--brand">
                    Example
                    <span class="lz-badge lz-badge--contrast">7</span>
                </button>
                <button class="lz-btn lz-btn--contrast">
                    Example
                    <span class="lz-badge lz-badge--brand">7</span>
                </button>
            </div>
        </div>
        <app-markup [example]="html.button"></app-markup>
    </section>

    <section data-section="colors" data-name="Cores">
        <h3>Cores</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <span class="lz-badge lz-badge--brand">Primary</span>
                <span class="lz-badge lz-badge--contrast">Secondary</span>
                <span class="lz-badge lz-badge--red">Danger</span>
                <span class="lz-badge lz-badge--green">Success</span>
                <span class="lz-badge lz-badge--yellow">Warning</span>
                <span class="lz-badge lz-badge--blue">Info</span>
            </div>
        </div>
        <app-markup [example]="html.colors"></app-markup>
    </section>
</div>