<div [@initial]="animate">
    <h1>Collapsible</h1>
    <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few extras
        thrown in for more control.</p>

    <section data-section="usage" data-name="Usage">
        <h3>Usage</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <div class="lz-dropdown">
                    <div class="lz-dropdown-header">
                        Click here!
                    </div>
                    <div class="lz-dropdown-body">
                        <div class="lz-card">
                            <div class="lz-card-body">
                                <div class="lz-dropdown-btn">
                                    <i class="uil uil-play-circle"></i>Play
                                </div>
                                <div class="lz-dropdown-btn">
                                    <i class="uil uil-stop-circle"></i>Stop
                                </div>
                                <div class="lz-dropdown-btn">
                                    <i class="uil uil-stop-circle"></i>Pause
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-markup [example]="html.dropdown"></app-markup>
    </section>

    <section data-section="right" data-name="Right">
        <h3>Usage</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body lz-display-flex-end">
                <div class="lz-dropdown">
                    <div class="lz-dropdown-header">
                        Click here!
                    </div>
                    <div class="lz-dropdown-body lz-dropdown-body--right">
                        <div class="lz-card">
                            <div class="lz-card-body">
                                <div class="lz-dropdown-btn">
                                    <i class="uil uil-play-circle"></i>Play
                                </div>
                                <div class="lz-dropdown-btn">
                                    <i class="uil uil-stop-circle"></i>Stop
                                </div>
                                <div class="lz-dropdown-btn">
                                    <i class="uil uil-stop-circle"></i>Pause
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-markup [example]="html.dropdown"></app-markup>
    </section>

    <section data-section="block" data-name="Block">
        <h3>Usage</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <div class="lz-dropdown">
                    <div class="lz-dropdown-header">
                        Click here!
                    </div>
                    <div class="lz-dropdown-body lz-dropdown-body--block">
                        <div class="lz-card">
                            <div class="lz-card-body">
                                <div class="lz-dropdown-btn">
                                    <i class="uil uil-play-circle"></i>Play
                                </div>
                                <div class="lz-dropdown-btn">
                                    <i class="uil uil-stop-circle"></i>Stop
                                </div>
                                <div class="lz-dropdown-btn">
                                    <i class="uil uil-stop-circle"></i>Pause
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-markup [example]="html.block"></app-markup>
    </section>
</div>