<div id="root" [@initial]="animate">
    <h1>Buttons</h1>
    <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few extras
        thrown in for more control.</p>

    <section>
        <h3>Solids</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--brand">Brand</button>
                <button type="button" class="lz-btn lz-btn--contrast">Contrast</button>
                <button type="button" class="lz-btn lz-btn--red">Red</button>
                <button type="button" class="lz-btn lz-btn--green">Green</button>
                <button type="button" class="lz-btn lz-btn--yellow">Yellow</button>
                <button type="button" class="lz-btn lz-btn--blue">Blue</button>
            </div>
        </div>
        <app-markup [example]="html.solid"></app-markup>
    </section>

    <section>
        <h3>Outline</h3>
        <p>In need of a button, but not the hefty background colors they bring? Replace the default modifier classes
            with the <code>.lz-btn--outline-*</code> ones to remove all background images and colors on any button.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--brand lz-btn--brand--outline">Brand</button>
                <button type="button" class="lz-btn lz-btn--contrast lz-btn--contrast--outline">Contrast</button>
                <button type="button" class="lz-btn lz-btn--red lz-btn--red--outline">Red</button>
                <button type="button" class="lz-btn lz-btn--green lz-btn--green--outline">Green</button>
                <button type="button" class="lz-btn lz-btn--yellow lz-btn--yellow--outline">Yellow</button>
                <button type="button" class="lz-btn lz-btn--blue lz-btn--blue--outline">Blue</button>
            </div>
        </div>
        <app-markup [example]="html.outline"></app-markup>
    </section>

    <section>
        <h3>No Stroke</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--brand lz-btn--brand--no-stroke">Brand</button>
                <button type="button" class="lz-btn lz-btn--contrast lz-btn--contrast--no-stroke">Contrast</button>
                <button type="button" class="lz-btn lz-btn--red lz-btn--red--no-stroke">Red</button>
                <button type="button" class="lz-btn lz-btn--green lz-btn--green--no-stroke">Green</button>
                <button type="button" class="lz-btn lz-btn--yellow lz-btn--yellow--no-stroke">Yellow</button>
                <button type="button" class="lz-btn lz-btn--blue lz-btn--blue--no-stroke">Blue</button>
            </div>
        </div>
        <app-markup [example]="html.noStroke"></app-markup>
    </section>

    <section>
        <h3>State</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--brand" disabled>Disabled</button>
                <button type="button" class="lz-btn lz-btn--brand" disabled>
                    <div class="lz-loading-container">
                        <div class="lz-loading">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </button>
                <button type="button" class="lz-btn lz-btn--brand lz-btn--brand--outline" disabled>Outline</button>
                <button type="button" class="lz-btn lz-btn--brand lz-btn--brand--no-stroke" disabled>No Stroke</button>
                <button type="button" class="lz-btn lz-btn--icon" disabled>
                    <i class="uil uil-heart"></i>
                </button>
            </div>
        </div>
        <app-markup [example]="html.state"></app-markup>
    </section>

    <section>
        <h3>Size</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras
            thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--brand lz-btn--large">Solid</button>
                <button type="button" class="lz-btn lz-btn--contrast lz-btn--large">Contrast</button>
            </div>
        </div>
        <app-markup [example]="html.size.large"></app-markup>

        <div class="lz-card lz-margin-top">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--brand lz-btn--small">Solid</button>
                <button type="button" class="lz-btn lz-btn--contrast lz-btn--small">Contrast</button>
            </div>
        </div>

        <app-markup [example]="html.size.small"></app-markup>
    </section>

    <section>
        <h3>Icon button</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras
            thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--icon lz-btn--icon--no-shadow">
                    <i class="uil uil-heart"></i>
                </button>
                <button type="button" class="lz-btn lz-btn--contrast lz-btn--icon lz-btn--icon--no-shadow">
                    <i class="uil uil-heart"></i>
                </button>
            </div>
        </div>
        <app-markup [example]="html.icon"></app-markup>

        <div class="lz-card lz-margin-top">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--brand">
                    <i class="uil uil-heart"></i>
                    Solid with icon
                </button>
                <button type="button" class="lz-btn lz-btn--brand lz-btn--brand--outline">
                    <i class="uil uil-heart"></i>
                    Outline with icon
                </button>
                <button type="button" class="lz-btn lz-btn--brand lz-btn--brand--no-stroke">
                    <i class="uil uil-heart"></i>
                    No Stroke with icon
                </button>
            </div>
        </div>
        <app-markup [example]="html.icon"></app-markup>
    </section>
</div>