<div id="root" [@initial]="animate">
    <h1>Botões</h1>
    <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few extras
        thrown in for more control.</p>

    <section data-section="solids" data-name="Solids">
        <h3>Solids</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--brand">Solid</button>
                <button type="button" class="lz-btn lz-btn--contrast">Contrast</button>
                <button type="button" class="lz-btn lz-btn--red">Red</button>
                <button type="button" class="lz-btn lz-btn--green">Green</button>
                <button type="button" class="lz-btn lz-btn--yellow">Yellow</button>
                <button type="button" class="lz-btn lz-btn--blue">Blue</button>
            </div>
        </div>
        <app-markup [example]="html.solid"></app-markup>
    </section>

    <section data-section="outline">
        <h3>Outline</h3>
        <p>In need of a button, but not the hefty background colors they bring? Replace the default modifier classes
            with the <code>.lz-btn--outline-*</code> ones to remove all background images and colors on any button.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--outline lz-btn--outline--brand">Solid</button>
                <button type="button" class="lz-btn lz-btn--outline lz-btn--outline--contrast">Contrast</button>
                <button type="button" class="lz-btn lz-btn--outline lz-btn--outline--red">Red</button>
                <button type="button" class="lz-btn lz-btn--outline lz-btn--outline--green">Green</button>
                <button type="button" class="lz-btn lz-btn--outline lz-btn--outline--yellow">Yellow</button>
                <button type="button" class="lz-btn lz-btn--outline lz-btn--outline--blue">Blue</button>
            </div>
        </div>
        <app-markup [example]="html.outline"></app-markup>
    </section>

    <section data-section="no-stroke" data-name="No Stroke">
        <h3>No Stroke</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--no-stroke lz-btn--no-stroke--brand">Solid</button>
                <button type="button" class="lz-btn lz-btn--no-stroke lz-btn--no-stroke--contrast">Contrast</button>
                <button type="button" class="lz-btn lz-btn--no-stroke lz-btn--no-stroke--red">Red</button>
                <button type="button" class="lz-btn lz-btn--no-stroke lz-btn--no-stroke--green">Green</button>
                <button type="button" class="lz-btn lz-btn--no-stroke lz-btn--no-stroke--yellow">Yellow</button>
                <button type="button" class="lz-btn lz-btn--no-stroke lz-btn--no-stroke--blue">Blue</button>
            </div>
        </div>
        <app-markup [example]="html.noStroke"></app-markup>
    </section>

    <section data-section="state" data-name="State">
        <h3>State</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--disabled">Disabled</button>
                <button type="button" class="lz-btn lz-btn--disabled">
                    <div class="lz-loading-container">
                        <div class="lz-loading">
                            <div></div>
                            <div></div>
                            <div></div>
                            <div></div>
                        </div>
                    </div>
                </button>
                <button type="button" class="lz-btn lz-btn--outline lz-btn--disabled">Outline</button>
                <button type="button" class="lz-btn lz-btn--no-stroke lz-btn--disabled">No Stroke</button>
                <button type="button" class="lz-btn lz-btn--icon lz-btn--disabled">
                    <i class="uil uil-heart"></i>
                </button>
            </div>
        </div>
        <app-markup [example]="html.state"></app-markup>
    </section>

    <section data-section="size" data-name="Size">
        <h3>Size</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras
            thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--brand lz-btn--large">Solid</button>
                <button type="button" class="lz-btn lz-btn--contrast lz-btn--large">Contrast</button>
            </div>
        </div>
        <app-markup [example]="html.size.large"></app-markup>

        <div class="lz-card lz-margin-top">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--brand lz-btn--small">Solid</button>
                <button type="button" class="lz-btn lz-btn--contrast lz-btn--small">Contrast</button>
            </div>
        </div>

        <app-markup [example]="html.size.small"></app-markup>
    </section>

    <section data-section="icon" data-name="Icon Button">
        <h3>Icon button</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras
            thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <button type="button" class="lz-btn lz-btn--icon">
                    <i class="uil uil-heart"></i>
                </button>
                <button type="button" class="lz-btn lz-btn--icon lz-btn--icon--no-shadow">
                    <i class="uil uil-heart"></i>
                </button>
                <button type="button" class="lz-btn lz-btn--no-stroke--brand lz-btn--icon lz-btn--icon--no-shadow">
                    <i class="uil uil-heart"></i>
                </button>
                <button type="button" class="lz-btn lz-btn--contrast lz-btn--icon lz-btn--icon--no-shadow">
                    <i class="uil uil-heart"></i>
                </button>
            </div>
        </div>
        <app-markup [example]="html.icon"></app-markup>
    </section>
</div>