<div [@initial]="animate">
    <h1>Assign</h1>
    <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few extras
        thrown in for more control.</p>

    <section>
        <h3>Usage</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <div class="lz-assign">
                    <div class="lz-assign-content">
                        <div class="lz-assign-content-item">
                            <span>
                                <i class="uil uil-check"></i>
                                Assignature
                            </span>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <app-markup [example]="html.assing"></app-markup>
    </section>
</div>