<div [@initial]="animate">
    <h1>Alertas</h1>
    <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few extras
        thrown in for more control.</p>

    <section data-section="colors" data-name="Cores">
        <h3>Cores</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <div class="lz-alert lz-alert--brand" role="alert">
                    Oi, eu sou um texto aleatório =)
                </div>
                <div class="lz-alert lz-alert--contrast" role="alert">
                    Oi, eu sou um texto aleatório =)
                </div>
                <div class="lz-alert lz-alert--green" role="alert">
                    <i class="uil uil-thumbs-up lz-alert-icon"></i>
                    Oi, eu sou um texto aleatório =)
                </div>
                <div class="lz-alert lz-alert--red" role="alert">
                    <i class="uil uil-times-square lz-alert-icon"></i>
                    Oi, eu sou um texto aleatório =)
                </div>
                <div class="lz-alert lz-alert--yellow" role="alert">
                    <i class="uil uil-exclamation-triangle lz-alert-icon"></i>
                    Oi, eu sou um texto aleatório =)
                </div>
                <div class="lz-alert lz-alert--blue" role="alert">
                    <i class="uil uil-info-circle lz-alert-icon"></i>
                    Oi, eu sou um texto aleatório =)
                </div>
            </div>
        </div>
        <app-markup [example]="html.colors"></app-markup>
    </section>

    <section data-section="action" data-name="Ação">
        <h3>Ação</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <div class="lz-alert lz-alert--green lz-alert--action" role="alert">
                    <div>
                        <i class="uil uil-thumbs-up lz-alert-icon"></i>
                        Oi, eu sou um texto aleatório =)
                    </div>
                    <button type="button" class="lz-btn lz-btn--icon lz-btn--icon--no-shadow">
                        <i class="uil uil-times"></i>
                    </button>
                </div>
            </div>
        </div>
        <app-markup [example]="html.colors"></app-markup>
    </section>
</div>