<div [@initial]="animate">
    <h1>Table</h1>
    <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few extras
        thrown in for more control.</p>

    <section data-section="usage" data-name="Usage">
        <h3>Usage</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <div class="lz-table">
                    <table>
                        <thead>
                            <th scope="col">Id</th>
                            <th scope="col">Name</th>
                            <th scope="col">Status</th>
                            <th scope="col">Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-header="id">
                                    <div>#12345</div>
                                </td>
                                <td data-header="name">
                                    <div>Lorem Ipsum</div>
                                </td>
                                <td data-header="status">
                                    <div><span class="lz-badge lz-badge--success">Active</span></div>
                                </td>
                                <td data-header="Action">
                                    <button class="lz-btn lz-btn--icon lz-btn--icon--no-shadow">
                                        <i class="uil uil-ellipsis-v"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td data-header="id">
                                    <div>#12345</div>
                                </td>
                                <td data-header="name">
                                    <div>Lorem Ipsum</div>
                                </td>
                                <td data-header="status">
                                    <div><span class="lz-badge lz-badge--danger">Inative</span></div>
                                </td>
                                <td data-header="Action">
                                    <button class="lz-btn lz-btn--icon lz-btn--icon--no-shadow">
                                        <i class="uil uil-ellipsis-v"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td data-header="id">
                                    <div>#12345</div>
                                </td>
                                <td data-header="name">
                                    <div>Lorem Ipsum</div>
                                </td>
                                <td data-header="status">
                                    <div><span class="lz-badge lz-badge--warning">Pending</span></div>
                                </td>
                                <td data-header="Action">
                                    <button class="lz-btn lz-btn--icon lz-btn--icon--no-shadow">
                                        <i class="uil uil-ellipsis-v"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="lz-table-footer">
                    <div class="lz-table-footer-count">Exibindo 3 de 3</div>
                    <div>
                        <button class="lz-btn lz-btn--accent lz-btn--accent--no-stroke">Before</button>
                        <button class="lz-btn lz-btn--accent lz-btn--accent--no-stroke">Next</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <app-markup [example]="html.table"></app-markup> -->
    </section>

    <section data-section="align-right" data-name="Align Right">
        <h3>Align Right</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <div class="lz-table">
                    <table>
                        <thead>
                            <th class="lz-table-align-right" scope="col">Id</th>
                            <th class="lz-table-align-right" scope="col">Name</th>
                            <th class="lz-table-align-right" scope="col">Status</th>
                            <th class="lz-table-align-right" scope="col">Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td data-header="id" class="lz-table-align-right">
                                    <div>#12345</div>
                                </td>
                                <td data-header="name" class="lz-table-align-right">
                                    <div>Lorem Ipsum</div>
                                </td>
                                <td data-header="status" class="lz-table-align-right">
                                    <div><span class="lz-badge lz-badge--success">Active</span></div>
                                </td>
                                <td data-header="Action" class="lz-table-align-right">
                                    <button class="lz-btn lz-btn--icon lz-btn--icon--no-shadow">
                                        <i class="uil uil-ellipsis-v"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td data-header="id" class="lz-table-align-right">
                                    <div>#12345</div>
                                </td>
                                <td data-header="name" class="lz-table-align-right">
                                    <div>Lorem Ipsum</div>
                                </td>
                                <td data-header="status" class="lz-table-align-right">
                                    <div><span class="lz-badge lz-badge--danger">Inative</span></div>
                                </td>
                                <td data-header="Action" class="lz-table-align-right">
                                    <button class="lz-btn lz-btn--icon lz-btn--icon--no-shadow">
                                        <i class="uil uil-ellipsis-v"></i>
                                    </button>
                                </td>
                            </tr>
                            <tr>
                                <td data-header="id" class="lz-table-align-right">
                                    <div>#12345</div>
                                </td>
                                <td data-header="name" class="lz-table-align-right">
                                    <div>Lorem Ipsum</div>
                                </td>
                                <td data-header="status" class="lz-table-align-right">
                                    <div><span class="lz-badge lz-badge--warning">Pending</span></div>
                                </td>
                                <td data-header="Action" class="lz-table-align-right">
                                    <button class="lz-btn lz-btn--icon lz-btn--icon--no-shadow">
                                        <i class="uil uil-ellipsis-v"></i>
                                    </button>
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
                <div class="lz-table-footer">
                    <div class="lz-table-footer-count">Exibindo 3 de 3</div>
                    <div>
                        <button class="lz-btn lz-btn--accent lz-btn--accent--no-stroke">Before</button>
                        <button class="lz-btn lz-btn--accent lz-btn--accent--no-stroke">Next</button>
                    </div>
                </div>
            </div>
        </div>
        <!-- <app-markup [example]="html.table"></app-markup> -->
    </section>

    <section data-section="empty" data-name="Empty">
        <h3>Empty</h3>
        <p>Lizard includes several predefined button styles, each serving its own semantic purpose, with a few
            extras thrown in for more control.</p>

        <div class="lz-card">
            <div class="lz-card-body">
                <div class="lz-table">
                    <table>
                        <thead>
                            <th class="lz-table-align-right" scope="col">Id</th>
                            <th class="lz-table-align-right" scope="col">Name</th>
                            <th class="lz-table-align-right" scope="col">Status</th>
                            <th class="lz-table-align-right" scope="col">Action</th>
                        </thead>
                        <tbody>
                            <tr>
                                <td [attr.colspan]="4" class="lz-table-empty">
                                    <div class="lz-svg">
                                        <div class="lz-svg-empty"></div>
                                    </div>
                                    No elements found...
                                </td>
                            </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
        <!-- <app-markup [example]="html.table"></app-markup> -->
    </section>
</div>